
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <form method="post">
            <label>ID</label>
            <input type="text" name="Name" />
            <label>PW</label>
            <input type="text" name="PW" />
            <input type="submit" value="按我" />
        </form>
    </div>
</body>
</html>
